[submodule "iTRAP/models/MoDE_Diffusion_Policy"]
	path = iTRAP/models/MoDE_Diffusion_Policy
	url = git@github.com:thomas-roth/MoDE_Diffusion_Policy.git
[submodule "iTRAP/models/Qwen2-VL/LLaMA-Factory"]
	path = iTRAP/models/Qwen2-VL/LLaMA-Factory
	url = git@github.com:hiyouga/LLaMA-Factory.git
